# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# env files
.env
.env.local
.env.development
.env.production

# build files
build/
dist/

# cache
.cache/
*.log

# OS files
.DS_Store

# editor
.vscode/
